body{
    background: #fff;
    margin:0;
    border:0;
}
#app{
    width: 960px;
    margin: 40px auto;
}
.questionBox{
    border: 1px solid #cacaca;
    box-shadow: 5px 5px 5px #888;
    padding: 10px;
    margin-bottom: 10px;
}
.inlineRadio{
    display: inline-block;
}
.combobox_input{
    width: 100%;
    resize: none;
}
